aside {
  border-left: 2px dashed #a4a4a4;
  flex: 0 0 21%;
  max-width: 21%;
  padding-left: 20px;
}

aside ul {
  list-style: none;
  padding-left: 0;
}

h4.section-title {
  background: #333;
  color: #fff;
  font-weight: 500;
  padding: 5px;
}

h5.section-sub-title {
  font-weight: 500;
  font-size: 1.2rem;
}

.section-budget {
  background: #F3FAFA;
  padding: 20px 10px;
  font-weight: 500;
  letter-spacing: -1px;
}
.section-budget span.value {
  font-size: 1.6rem;
  font-weight: 400;
}

ul.category-list {
  font-weight: 700;
}
ul.category-list li {
  display: block;
  font-weight: 700;
}
ul.category-list li span {
  padding-left: 5px;
  font-size: 1.3rem;
  font-weight: 400;
}

ul.project-dates li {
  font-weight: 700;
}
ul.project-dates li span {
  font-weight: 500;
}