header {
  /* background-image: linear-gradient(90deg, #1de1d1 0%, #1de1d1 0%, #9677e5 100%, #9677e5 100%); */
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.35);
  background: #333;
}

.mw-1500{
  max-width: 1500px;
}

a.logo {
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  flex-basis: 35%;
  align-items: center;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.logo img{
  max-width: 200px;
}

.org-select {
  font-size: 20px;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 9px 10px;
  min-width: 360px;
}

.nav-main-wrap {
  flex-basis: 35%;
}

.navbar li {
  flex-grow: 1;
  text-align: center;
  line-height: 1;
}
.navbar li a {
  color: #fff;
}
.navbar li a:hover, .navbar li a:active {
  background: #fff;
  color: #000;
}

a.btn-close {
  flex-basis: 5%;
  font-size: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0;
  border-radius: 50%;
  text-decoration: none;
}
