
#main-col {
  flex: 0 0 1110px;
  margin: 0 auto;
}

#main-col ul li a {
  display: block;
  width: 100%;
}

#main-col ul {
  list-style: none;
}




/****** CHECKBOX CSS ********/

.labelq{
  font-size: 18px;
  display: block;
  width: 100%;
  padding: 20px 0;
}
.labelq__checkbox {
  display: none;
}
.labelq__check {
  font-size: 1.5em;
  position: relative;
  top: -12px;
  float: left;
  margin-right: -100%;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(171, 37, 37, 0.5);
  background: rgb(196, 46, 46);
  vertical-align: middle;
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;
}
.labelq__check i.icon {
  opacity: 1;
  font-size: calc(2rem);
  color: #fff;
  transition: opacity .3s .1s ease;
  -webkit-text-stroke: 3px rgb(171, 37, 37);
}
.labelq__check .fa-check.icon{
  display: none;
}

.labelq__checkbox:checked + .labelq__text .labelq__check {
  animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}
.labelq__checkbox:checked + .labelq__text .labelq__check .icon {
  opacity: 1;
  transform: scale(0);
  color: white;
  -webkit-text-stroke: 0;
  animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
}
.labelq__checkbox:checked + .labelq__text .labelq__check .fa-check.icon{
  display: inline;
}
.labelq__checkbox:checked + .labelq__text .labelq__check .fa-times.icon{
  display: none;
}
.labelq__questionText{
  display: block;
  float: left;
  margin-left: 100px;
}

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }
  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: rgba(0, 0, 0, 0.2);
    border-width: 15px;
  }
  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.1);
    border-width: 0;
  }
  50% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 1;
  }
}


/*************************** RADIOS ***********************/

.customradios{
  font-size: 18px;
  display: block;
  width: 100%;
  padding: 20px 0;
}

.custom-radios{
  float: left;
  margin-right: -100%;
  margin-top: -8px;
}
.custom-radios div {
  display: inline-block;
}
.custom-radios input[type="radio"] {
  display: none;
}
.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 38px;
}

.custom-radios input[type="radio"]:checked + label span{
  color: #fff;
}
.custom-radios div:first-child input[type="radio"]:checked + label span{
  background-color:  rgb(171, 37, 37);
}
.custom-radios div:nth-child(2) input[type="radio"]:checked + label span{
  background-color: #ff9e00;
}
.custom-radios div:nth-child(3) input[type="radio"]:checked + label span{
  background-color: #00d478;
}




.custom-radios__questionText{
  display: block;
  float: left;
  margin-left: 150px;
}

/********************** CONFIRM SUBMISSION BOX *********************/

.confirm-submission{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  top: 0;
  left: 0;
}

.confirm-box{
  background: #fff;
  max-width: 500px;
  margin: auto;
  border-radius: 4px;
}

/********************** Date Picker *********************/
